<div class="cards">

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <span>Sale</span>
        <img src="img/shoes-1@2x.jpg">
        <a href="">170$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <span>Sale</span>
        <img src="img/shoes-2@2x.jpg" width="291" height="194">
        <a href="">230$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <span>Sale</span>
        <img src="img/shoes-3@2x.jpg" width="291" height="194">
        <a href="">190$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item cards-item-normal">
        <img src="img/shoes-3@2x.jpg" width="291" height="194">
        <a href="">170$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item cards-item-normal">
        <img src="img/shoes-2@2x.jpg" width="291" height="194">
        <a href="">230$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item cards-item-normal">
        <img src="img/shoes-1@2x.jpg" width="291" height="194">
        <a href="">190$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <img src="img/shoes-1@2x.jpg" width="291" height="194">
        <span>Sale</span>
        <a href="">170$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <span>Sale</span>
        <img src="img/shoes-2@2x.jpg" width="291" height="194">
        <a href="">230$</a>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="cards-item">
        <span>Sale</span>
        <img src="img/shoes-3@2x.jpg" width="291" height="194">
        <a href="">190$</a>
      </div>
    </div>

  </div>

</div>
