<aside>

  <img class="logo" src="img/logo@2x.png" width="77" height="52">

  <form class="search">
    <img src="img/search.svg">
    <input type="text" placeholder="">
  </form>

  <nav>
    <a href="" class="nav-active nav-opened">Sports <img class="arrow-dropdown" src="img/arr-down.svg"></a>
    <nav class="nav-dropdown">
      <a href="" class="nav-active">Shoes</a>
      <a href="">Clothing</a>
      <a href="">Accesories</a>
    </nav>
    <a href="">Brands</a>
    <a href="">Micoach</a>
  </nav>

</aside>
