<div class="card-main">

  <div class="row between-lg">

    <!-- <div class="col-lg-12">
      <div class="card-big-photo">
        <img src="img/big-shoes@2x.jpg">
      </div>
    </div> -->

    <div class="col-lg-4">
      <div class="card-title">
        <h1>Ultra Boost</h1>
        <button>Save</button>
      </div>
    </div>

    <div class="col-lg-4 end-lg">
      <div class="card-details">
        <div class="card-colors">
          <button class="btn-color btn-color-gray"></button>
          <button class="btn-color btn-color-blue"></button>
          <button class="btn-color btn-color-black"></button>
          <button class="btn-color btn-color-silver"></button>
        </div>
        <span class="badge">Sale</span>
      </div>
      <div class="card-price">
        <h2>$170</h2>
      </div>
    </div>

  </div>

  <div class="card-big-photo">
    <img src="img/big-shoes@2x.jpg">
  </div>

  <div class="card-images-preview">

    <div class="row middle-lg">

      <div class="col-lg-2">
        <img src="img/small-shoes-1@2x.jpg" width="145" height="118">
      </div>

      <div class="col-lg-2">
        <img src="img/small-shoes-2@2x.jpg" width="145" height="118">
      </div>

      <div class="col-lg-2">
        <img src="img/small-shoes-3@2x.jpg" width="145" height="118">
      </div>

      <div class="col-lg-2">
        <img src="img/small-shoes-4@2x.jpg" width="145" height="118">
      </div>

      <div class="col-lg-2">
        <div class="card-images-line"></div>
        <div class="card-images-line"></div>
        <div class="card-images-line"></div>
      </div>

      <div class="col-lg-2">
        <button>see<br>more<br>photos</button>
      </div>

    </div>

  </div>

  <div class="card-description">

    <div class="row">

      <div class="col-lg-12">
        <p>
          <span>Adidas</span> is a German multinational corporation, headquartered in Herzogenaurach, Germany, that designs and manufactures shoes, clothing and accessories.
        </p>
      </div>

    </div>

  </div>

</div>

<button class="buy-button">Buy Now</button>
