@font-face {
	font-family: "Andale Mono";
	src: url("../fonts/AndaleMono/AndaleMono.eot");
	src: url("../fonts/AndaleMono/AndaleMono.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AndaleMono/AndaleMono.woff") format("woff"),
	url("../fonts/AndaleMono/AndaleMono.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext/AvenirNext-Bold.eot");
  src: url("../fonts/AvenirNext/AvenirNext-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AvenirNext/AvenirNext-Bold.woff") format("woff"),
	url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
